<h1>New order</h1>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dining_table_id %>: 
    <%= f.select :dining_table_id, DiningTable.all.collect {|t| [ "Table # #{t.table_number}", t.id ] } %>
    
  </div>
<br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br />

<%= link_to 'Back', orders_path %>
