<!DOCTYPE html>
<html>
<head>
  <title>Restaurantorders</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br>
<br>
<br>
<br>
------------------------<br>
------------------------<br>
<%= link_to "Tables", dining_tables_path %> | 
<%= link_to "Orders", orders_path %>
</body>
</html>
