<%= form_for(@order_item) do |f| %>
  <% if @order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

      <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :chair_number %><br />
    <%= f.number_field :chair_number %>
  </div>
  <div class="field">
    <%= f.label :entree_id %><br />
    <% Entree.all.each do |entree| %>
      <%= f.radio_button(:entree_id, entree.id) %>
      <%= f.label "entree_id_#{entree.id}".to_sym, "#{entree.name} - $#{entree.price}" %>
      <br>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
